appdirs==1.4.0
bleach==1.5.0
Django==1.10.5
django-classy-tags==0.8.0
django-mptt==0.8.7
django-nyt==1.0b1
django-sekizai==0.10.0
html5lib==0.9999999
Markdown==2.6.8
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.6.2
pyparsing==2.1.10
six==1.10.0
sorl-thumbnail==12.3
wiki==0.2
